@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import "/bulmaswatch.min.css";
body {
    text-align: center;
}
table {
    margin-left: auto;
    margin-right: auto;
}
.alert {
    max-width: 50%;
    max-height: 50%;
    margin-left: auto;
    margin-right: auto;
}
